.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.text-center {
    text-align: center!important;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: #fff;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}